PORT=5000
FRONTEND_URL=http://localhost:5173

# Nodemailer SMTP settings
EMAIL_HOST=
EMAIL_PORT=
EMAIL_USER=
EMAIL_PASSWORD=
EMAIL_FROM=

# Database Connection (PostgreSQL)
DATABASE_URL=

# Firebase Admin SDK Configuration
FIREBASE_PROJECT_ID=
FIREBASE_CLIENT_EMAIL=
FIREBASE_PRIVATE_KEY=

# Cloudflare Stream API Configuration
CLOUDFLARE_ACCOUNT_ID=
CLOUDFLARE_STREAM_API_TOKEN=
